<!-- 
<nav>

    <a href="/login">Login</a>

n
</nav> -->


<nav >
    <div >
        <div><a href="#">TIME CAPSUL</a> </div>
        
        <input type="text"   placeholder="Type to Search...">
        <img  style="back" src="" > 
       


       
        <ul>
            <li><a href="/login">LOGIN</a></li>
            <li><a href="#">SAVE LETTERS</a></li>

            
        </ul>
    </div>
</nav>