<%- include('partials/header') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[#010824] text-[#eee] text-[15px] min-h-screen bg-[repeating-linear-gradient(to_right,_transparent_0_49px,_#eee1_49px_50px),repeating-linear-gradient(to_bottom,_transparent_0_49px,_#eee1_49px_50px)] flex justify-center items-center h-screen">
    <div class=" p-8 rounded-lg shadow-md w-full max-w-4xl flex flex-col space-y-10">
        <!-- New Letter Form -->
         <h2 class="text-2xl text-center  font-bold">Write to Your Future itself</h2>
        <div class="w-full p-4 bg-gradient-to-r from-blue-900 to-black text-transparent bg-gradient-to-r from-[#7BE728] via-[#7F40AC] to-[#7BE728] m-auto pt-10 rounded-lg">
            <form action="/users/letter" method="post">
                <div class="mb-4 text-left">
                    <label for="title" class="block text-white font-semibold">Title</label>
                    <input type="text" id="title" name="title" placeholder="Enter title" class="w-full mt-2 p-2 border rounded-lg">
                </div>

                <div class="mb-4 flex space-x-4 text-left">
                    <div class="mb-4 text-left">
                        <label for="dateTime" class="block text-white font-semibold">Date & Time</label>
                        <input type="datetime-local" id="dateTime" name="dateTime" class="w-full mt-2 p-2 border rounded-lg">
                    </div>
                </div>

                <div class="mb-4 text-left">
                    <label for="letter" class="block text-white font-semibold">Write Your Letter</label>
                    <textarea id="letter" name="letter" placeholder="Write your letter here..." rows="6" class="w-full mt-2 p-2 border rounded-lg"></textarea>
                </div>

                

                <button type="submit" class="bg-white text-blue-500 py-2 px-4 rounded hover:bg-gray-100 w-full">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>
